/* dropdown button */
.accordion > .abutton{
    color: #333;
    padding: 14px 16px;
    background-color: #ccc;
    cursor: pointer;
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    .accordion > .abutton:hover {
        background-color: #ddd;
    }
}

.accordion > .abutton:active {
    background-color: #ededed;
}

.accordion > .active {
    margin-bottom: 0px !important;
}

/* dropdown content */
.accordion .acontent{
    color: #333;
    padding: 14px 16px;
    background-color: #ededed;
    margin-bottom: 10px;
}