

footer {
    color: #ccc;
    background-color: #545454;
}

.lowerFooter, .upperFooter {
    padding: 40px 10%;
}

.upperFooter {
    color: #545454;
    background-color: #ccc;
}

.lowerFooter p{
    color: #ccc;
}

footer ul{
    list-style: none;
}

footer li {
    padding: 10px 0;
}

footer li a{
    padding: 10px 0;
    color: #ccc;
    text-decoration: none;
    font-size: 0.95rem;
}

footer li a:hover{
    text-decoration: underline;
}

footer .upperFooter li a{
    padding: 10px 0;
    color: #545454;
    text-decoration: none;
    font-size: 0.95rem;
}

footer .upperFooter li a:hover{
    text-decoration: underline;
}

.footerListHeading {
    padding: 10px 0;
    margin-top: 30px;
    font-size: 1.45rem;
    cursor: pointer;
    margin-right: 10px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        -o-user-select: none; /* Opera */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}