form{
    padding: 10px 10px;
}

form label{
    font-size: 0.9rem;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0px;
}

form input[type=text], 
form input[type=date],
form input[type=datetime],
form input[type=number],
form input[type=search],
form input[type=time],
form input[type=url],
form input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    width: 100%;
}

/* not navsearch to keep unique style of that search bar in the navigation */
form:not(#navSearch) input[type=text]:focus, 
form input[type=date]:focus,
form input[type=datetime]:focus,
form input[type=number]:focus,
form input[type=search]:focus,
form input[type=time]:focus,
form input[type=url]:focus,
form input[type=email]:focus,
form textarea:focus, 
form select:focus{
    border: 1px solid #0099ff;
}

form input[type='checkbox'], form input[type='radio'] {
    width: 1rem;
    height: 1rem;
    margin: 0px 5px;
    line-height: 1rem;
    vertical-align: middle;
}

form input[type="file"]{
    display: none;
}