.horizontalNav {
    overflow: hidden;
    /*background-color: #bae1ff;*/
    color: #333;
    font-size: 0.95rem;
    line-height: 20px;
    border-bottom: 1px solid #cccccc;
}

.horizontalNav ul {
    list-style: none;
}

.horizontalNav ul > li {
    display: block;
    float: left;
    cursor: pointer;
}

.horizontalNav > ul > li > a {
    display: inline-block;
    text-align: center;
    padding: 19px 15px;
    text-decoration: none;
    color: #333;
}

.horizontalNav a:focus, .horizontalNav :not(.logo) > a:hover{
    background-color: #cccccc;
}

.horizontalNav .search > a {
    padding: 15px 15px;
}

/* not functional */
.fixedNav {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: white;
}

/* NAVIGATION SEARCH ################################################## */

#navSearch {
    padding: 9px 0px;
    background-color: white;
}

#navSearch input[type="text"] {
    height: 40px;
    width: calc(100% - 115px);
    float: right;

    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    vertical-align: top;
    color: #333;
}

#navSearch input[type="text"]:focus {
    border-bottom: 2px solid #0099ff;
}

#navSearch button {
    box-sizing: content-box;
    height: 40px;
    width: 40px;
    float: right;
    margin-left: 7px;
    margin-right: 7px;
    cursor: pointer;
    padding: 0px;
}

#navSearch button i {
    line-height: 40px;
}

/* DROPDOWNS ################################################## */ 

.horizontalNav > ul > li > ul { /* Dropdown Menu */
    position: absolute;
    display: none;
    z-index: 1;
    min-width: 200px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 2px;
    margin-top: -5px;
}

.horizontalNav > ul > .hmenu > ul { /* Hamburger Menu */
    margin-top: 59px;
    width: 100%;
}

.horizontalNav > ul > .hmenu > ul > li > ul > li > a { /* Hamburger SubItem */
    padding: 10px 16px;
    margin: 5px 0px;
    text-decoration: none;
    display: block;
    float: none;
    text-align: left;
    color: #333;
}

.horizontalNav > ul > .hmenu > ul > li > ul > li { /* Hamburger Item = Dropdown Item */
    display: block;
    float: none;
}

.horizontalNav > ul > li > ul > li > a { /* Dropdown Item */
    padding: 10px 16px;
    margin: 5px 0px;
    text-decoration: none;
    display: block;
    float: none;
    text-align: left;
    color: #333;
}

.horizontalNav > ul > li > ul > li { /* Dropdown Item */
    display: block;
    float: none;
}

.arrowdown {
    border: solid #333;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    margin-bottom: 4px;
    margin-left: 4px;
}

/* HAMBURGER ICON ################################################## */

.hamburger {
    padding: 17px 15px;
    display: block;
    float: left;
    transition: 0.4s;
}

.hamburger.hchange {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.hbar1, .hbar2, .hbar3 {
    transition: 0.4s;
    letter-spacing: -2px;
    line-height: 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    -o-user-select: none; 
    user-select: none; 
}

.hbar1.hchange {
    transform: rotate(-90deg) translate(-10px, 0px);
    -webkit-transform: rotate(-90deg) translate(-11px, -1px);
    -moz-transform: rotate(-90deg) translate(-11px, -1px);
    -ms-transform: rotate(-90deg) translate(-11px, -1px);
    -o-transform: rotate(-90deg) translate(-11px, -1px);
}

.hbar2.hchange {opacity: 0;}

.hbar3.hchange {
    transform:  translate(0px, -8px);
    -webkit-transform: translate(0px, -8px);
    -moz-transform: translate(0px, -8px);
    -o-transform: translate(0px, -8px);
    -ms-transform: translate(0px, -8px);
}