.single-p {
    overflow-y: hidden;
}

.single-p p {
    max-width: 620px;
    padding: 0 10px;
    margin: auto;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
}

.single-p .textfade {
    max-width: 620px;
    padding: 0 10px;
    margin: auto;
    text-align: center;
    padding-top: 119px;
    padding-bottom: 54px;
    margin-top: -190px;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(rgba(255,255,255,0),#ffffff,#ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.single-p .textnofade {
    max-width: 620px;
    padding: 0 10px;
    margin: auto;
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.single-p .button {
    padding: 10px 10px;
}

.multi-p {
    overflow-y: hidden;
}

.multi-p p {
    line-height: 24px;
    padding: 0 10px;
}