/* TABS ################################################## */
.tabs > div {
    color: #333;
    line-height: 22px;
    text-align: left;
    margin: 0px;
    margin-right: 16px;
    border-radius: 2px 2px 0 0;
    position: relative;
    background-color: #ccc;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-color: transparent transparent transparent #ccc;
}

@media only screen and (min-width: 768px) {
    .tabs > div:hover {
        background-color: #ddd;
        border-color: transparent transparent transparent #ddd;
    }
}

.tabs > div:active, .tabs > .active {
    background-color: #ededed;
    border-color: transparent transparent transparent #ededed;
    z-index: 2;
}

.tabcontents > div {
    color: #333;
    display: none;
    padding: 14px 16px;
    border-top: none;
    background-color: #ededed;
}

.triangle{
    position: absolute;
    right: -30px;
    top: 0px;
    padding: 0px !important;
    border-style:solid !important;
    border-color: inherit;
    border-width:50px 0px 0px 30px !important;
    width:0;
    height:0;
    z-index: 1;
    line-height: 50px;
}

/* TABS-M ################################################## */
.tabs-m > div {
    position: relative;
    background-color: #ccc;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 0;
    text-align: center;
    transition: 0.3s;
    margin: 0 2px;
    border: none;
}

@media only screen and (min-width: 768px) {
    .tabs-m > div:hover {
        background-color: #ddd;
        border: none;
    }
}

.tabs-m > div:active, .tabs-m > .active {
    background-color: #ededed;
    border-bottom-color: #ededed;
    z-index: 0;
}