.prev, .next {
    cursor: pointer;
    text-align: center;
    color: white;
    transition: 0.4s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color:rgba(0, 0, 0, 0);
    height: 100%;
    width: 100px;
}

.prev{
    float: left;
}

.next {
    float: right;
}

.prev:hover, .next:hover {
    background-color:rgba(0, 0, 0, 0.75);
}

.prev i, .next i {
    font-size: 5rem;
    vertical-align: middle;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.75);
    transition: 0.6s ease;
}

.prev i{
    border-radius: 0 5px 5px 0;
}

.next i{
    border-radius: 5px 0 0 5px;
}

.prev:hover i, .next:hover i{
    background-color:rgba(0, 0, 0, 0);
}