<div class="row">
    <div class="col-12">
        <div class="carousel">
            
            <a class="prev" aria-label="previous item"><i class="material-icons">chevron_left</i></a>
            <a class="next" aria-label="next item"><i class="material-icons">chevron_right</i></a>

            <div class="slide">
                <img class="autofocus" src="hk2.jpg">
            </div>
            <div class="slide">
                <img class="autofocus" src="jp1.jpg">
            </div>
            <div class="slide">
                <img class="autofocus" src="jp2.jpg">
            </div>

        </div>
    </div>
</div>